apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "client.fullname" . }}
  labels:
    {{- include "client.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "client.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "client.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "client.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
  {{- if .Values.vault.enabled }}

          env:
          - name: VAULT_ADDR
            value: {{ .Values.vault.address }}
          - name: VAULT_ROLE
            value: {{ .Values.vault.role }}

          - name: NATS_CRED_IDENTIFIER
            value: {{ .Values.vault.credidentifier | quote }}
          - name: NATS_ENTITY_NAME
            value: {{ .Values.vault.entityname | quote }}
  {{- else }}
          env:
          - name: NATS_TOKEN
            value: {{ .Values.nats.auth.token }}
          - name: NATS_ADDRESS
            value: {{ .Values.nats.host }}

  {{- end }}
#          livenessProbe:
#            httpGet:
#              path: /
#              port: http
#          readinessProbe:
#            httpGet:
#              path: /
#              port: http
          env:
#          - name: NATS_TOKEN
#            value: {{ .Values.nats.auth.token }}
#          - name: NATS_ADDRESS
#            value: {{ include "client.fullname" . }}-nats
          - name: DB_ADDRESS
            value: {{ include "client.fullname" . }}-clickhouse
          - name: DB_PORT
            value: "9000"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      
